.trello-compact-cards .everhour-edit-time-popup{
  margin-left:185px;
}

.trello-compact-cards .phenom-reactions,
.trello-compact-cards .everhour-progress-container,
.trello-compact-cards .window-sidebar,
.trello-compact-cards .js-edit-desc-button,
.trello-compact-cards .window-module-title-options,
.trello-compact-cards .card-detail-item.js-card-detail-age,
.trello-compact-cards .js-show-with-desc.js-edit-desc.js-edit-desc-button {
  display: none !important;
}

.trello-compact-cards .window {
  width: 585px;
}

.trello-big-comments .action-comment {
  padding: 6px;
  line-height: 140%;
  font-size: 15px;
}

.trello-big-comments .action-comment p {
  margin-bottom: 15px;
}

.trello-dark-cards .window {
  background-color: #282a36;
}

.trello-dark-cards .mod-card-back-title.js-card-detail-title-input,
.trello-dark-cards .window-module-title,
.trello-dark-cards .window-module-title h3,
.trello-dark-cards .inline-member {
  color: #f8f8f2;
}
.trello-dark-cards .icon-lg,
.trello-dark-cards .icon-md,
.trello-dark-cards .icon-sm,
.trello-dark-cards .quiet, 
.trello-dark-cards .quiet a  {
  color: #6272a4;
}

.trello-dark-cards .action-comment,
.trello-dark-cards .mod-card-back-title.js-card-detail-title-input:focus {
  background-color: #44475a;
  box-shadow: none;
  color: #f8f8f2;
}

.trello-dark-cards .quiet a:not(.disabled):hover,
.trello-dark-cards .quiet a:hover {
  color: #8be9fd;
}