.trello-compact-cards .everhour-edit-time-popup{
  margin-left:185px;
}

.trello-compact-cards .phenom-reactions,
.trello-compact-cards .everhour-progress-container,
.trello-compact-cards .window-sidebar,
.trello-compact-cards .js-edit-desc-button,
.trello-compact-cards .window-module-title-options,
.trello-compact-cards .card-detail-item.js-card-detail-age,
.trello-compact-cards .js-show-with-desc.js-edit-desc.js-edit-desc-button {
  display: none !important;
}

.trello-compact-cards .window {
  width: 585px;
}

.trello-big-comments .action-comment {
  padding: 6px;
  line-height: 140%;
  font-size: 15px;
}

.trello-big-comments .action-comment p {
  margin-bottom: 15px;
}

.trello-dark-cards .window{
  background-color: rgb(20, 20, 20);
}